<!DOCTYPE html>
<html lang="en">

<head>
    <title>JRPG Gang</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script>
        function resizeViewport() {
            var contentWidth = 900;
            var contentHeight = 600;
            var scale = (screen.width / screen.height < contentWidth / contentHeight) ?
                screen.width / contentWidth : screen.height / contentHeight;
            document.querySelector('meta[name="viewport"]').setAttribute(
                'content', 'width=' + contentWidth + ', minimum-scale=' + scale + ', maximum-scale=' + scale);
        }
        window.onresize = resizeViewport;
    </script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div id="main_scene_container" class="main-scene-container"></div>
</body>

</html>