.input-field input {
    color: white;
}

.login-wrapper {
    background-color: darkslateblue;
    position: absolute;
    width: 500px;
    height: 300px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}