.input-field input {
    color: white;
}

.login-wrapper {
    background-color: rgb(39, 4, 88);
    background-image: url("./assets/backgrounds/bkg-03.jpg");
    background-blend-mode: darken;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(60, 60, 60);
    position: absolute;
    width: 400px;
    height: 400px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}