.game-wrapper {
    background-color: rgb(25, 0, 56);
    background-image: url("./assets/backgrounds/bkg-01.jpg");
    background-blend-mode: darken;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(60, 60, 60);
    position: absolute;
    width: 900px;
    height: 600px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.game-log {
    background-color: rgba(90, 90, 90, 0.8);
    padding: 10px;
    max-height: 234px;
    min-height: 234px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
}

.game-chat {
    background-color: rgba(90, 90, 90, 0.8);
    padding: 10px;
    max-height: 189px;
    min-height: 189px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 3px;
}

.game-chat-input {
    margin: 0;
}