<div class="game-wrapper">
    <div class="row">
        <div class="col s2">
            <span id="label_game_status" class="white-text">Game status</span>
        </div>
        <div class="col s5">
        </div>
        <div class="col s5">
            <div id="units_queue_container" class="items-container"></div>
        </div>
    </div>
    <div class="row">
        <div id="battlefield_container" class="items-container left"></div>
    </div>
    <div id="unit_items_container" class="items-container"></div>
</div>
<div id="item_description_popup" class="item-description-popup white-text"></div>