html,
body,
div {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main-scene-container {
    width: 100vw;
    height: 100vh;
}

.selection-icon {
    background-color: aliceblue;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 74px;
    height: 74px;
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
}

.unselected {
    background-color: aliceblue;
}

.unselected:hover {
    background-color: aquamarine;
}

.selected {
    background-color: darkcyan;
}

.selected:hover {
    background-color: cadetblue;
}

.item-icon-warpper {
    text-align: center;
    width: 100px;
}

.items-container {
    display: flex;
}