html,
body,
div {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-size: 14px;
}

.main-scene-container {
    width: 100vw;
    height: 100vh;
}

.selection-icon {
    background-color: aliceblue;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 74px;
    height: 74px;
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 200, 200);
    border-radius: 10px;
}

.scrollbar-y {
    scrollbar-width: 2px;
    overflow-y: auto;
}

.unselected {
    background-color: aliceblue;
}

.unselected:hover {
    background-color: aquamarine;
}

.selected {
    background-color: darkcyan;
}

.selected:hover {
    background-color: cadetblue;
}

.choosed {
    border: 3px solid coral;
}

.item-icon-warpper {
    text-align: center;
    width: 80px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.item-description-popup {
    pointer-events: none;
    position: fixed;
    background-color: slategray;
    z-index: 100;
    min-height: 40px;
    padding: 10px;
    border-radius: 10px;
}

span {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
    border-radius: 5px;
}