<span id="label_name" class="white-text single-line" style="font-size: 11px;">Item Name</span><br>
<div id="icon" class="selection-icon">
    <div style="position: relative; margin-top: 0px; margin-left: 0px;">
        <img id="icon_cant_use" src="./assets/icons/cant-use.png"
            style="height: 22px; position: absolute;">
    </div>
    <div style="position: relative; margin-top: 45px;">
        <span id="label_quantity" class="white-text right deep-purple darken-1">10</span>
        <img id="icon_current" src="./assets/icons/pawn.png"
            style="height: 22px; margin-left: -2px; position: absolute;">
        <div id="label_action_points" class="white-text text-shadow-black"
            style="margin-top: 3px; margin-left: 5px; position: absolute;"></div>
    </div>
</div>