<div id="icon" class="selection-icon">
    <div style="position: absolute;">
        <img id="icon_effect" src="./assets/icons/sparkle.png">
        <img id="icon_hit" src="./assets/icons/blood.png">
        <img id="icon_missed" src="./assets/icons/failed.png">
    </div>
    <div style="position: absolute;">
        <div id="label_hit_hp" class="white-text center-align" style="width: 64px; padding-top: 30px;">100HP</div>
    </div>
    <div style="position: absolute; padding-left: 40px;">
        <img id="icon_stunned" src="./assets/icons/dizzy.png">
    </div>
</div>