<div class="configurator-wrapper">
    <div class="row">
        <button id="button_lobby" class="btn s12 right">Lobby</button>
        <button id="button_jobs" class="btn s12 left">Jobs</button>
    </div>
    <div class="row">
        <div class="col s2">
            <span id="unit_info" class="light-green lighten-1"></span><br>
            <div id="unit_icon" class="selection-icon"></div><br><br>
            <span class="light-blue lighten-1">Booty:</span><br>
            <span id="unit_booty" class="white-text"></span><br>
            <span class="light-blue lighten-1">Progress:</span><br>
            <span id="unit_progress" class="white-text"></span><br>
            <button id="button_level_up" class="btn center">Level Up</button>
        </div>
        <div class="col s2">
            <span class="light-blue lighten-1">Base attributes:</span><br>
            <span id="label_health" class="white-text">Health: 50</span>
            <button id="button_health" class="btn-plus right">+</button><br>
            <span id="label_stamina" class="white-text">stamina: 50</span>
            <button id="button_stamina" class="btn-plus right">+</button><br>
            <span id="label_mana" class="white-text">mana: 50</span>
            <button id="button_mana" class="btn-plus right">+</button><br>
            <br>
            <span class="light-blue lighten-1">Attributes:</span><br>
            <span id="label_strength" class="white-text">strength: 50</span>
            <button id="button_strength" class="btn-plus right">+</button><br>
            <span id="label_physique" class="white-text">physique: 50</span>
            <button id="button_physique" class="btn-plus right">+</button><br>
            <span id="label_agility" class="white-text">agility: 50</span>
            <button id="button_agility" class="btn-plus right">+</button><br>
            <span id="label_endurance" class="white-text">endurance: 50</span>
            <button id="button_endurance" class="btn-plus right">+</button><br>
            <span id="label_intelligence" class="white-text">intelligence: 50</span>
            <button id="button_intelligence" class="btn-plus right">+</button><br>
            <span id="label_initiative" class="white-text">initiative: 50</span>
            <button id="button_initiative" class="btn-plus right">+</button><br>
            <span id="label_luck" class="white-text">luck: 50</span>
            <button id="button_luck" class="btn-plus right">+</button><br>
        </div>
        <div class="col s2">
            <span class="light-blue lighten-1">Resistance:</span><br>
            <span id="unit_resistance" class="white-text"></span>
        </div>
        <div id="shop_items_container" class="items-container col s6 scrollbar-y" style="max-height: 364px;"></div>
    </div>
    <label>
        <input id="checkbox_sell" type="checkbox" />
        <span>Sell 50% price</span>
    </label>
    <label>
        <input id="checkbox_repair" type="checkbox" />
        <span>Repair</span>
    </label>
    <div id="unit_items_container" class="items-container scrollbar-y" style="max-height: 105px;"></div>
</div>
<div id="item_description_popup" class="item-description-popup white-text"></div>