<div class="configurator-wrapper">
    <div class="row">
        <button id="button_lobby" class="btn s12 right">Lobby</button>
    </div>
    <div class="row">
        <div class="col s2 center">
            <span id="unit_info" class="light-green lighten-1"></span><br>
            <div id="unit_icon" class="selection-icon"></div><br>
            <span class="light-blue lighten-1">Booty:</span><br>
            <span id="unit_booty" class="white-text"></span><br>
            <span class="light-blue lighten-1">Progress:</span><br>
            <span id="unit_progress" class="white-text"></span><br>
        </div>
        <div class="col s2">
            <span class="light-blue lighten-1">Base attributes:</span><br>
            <span id="unit_base_attributes" class="white-text"></span><br>
            <span class="light-blue lighten-1">Attributes:</span><br>
            <span id="unit_attributes" class="white-text"></span>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="col s2">
            <span class="light-blue lighten-1">Resistance:</span><br>
            <span id="unit_resistance" class="white-text"></span>
        </div>
        <div id="shop_items_container" class="items-container col s6"></div>
    </div>
    <div id="unit_items_container" class="items-container"></div>
</div>
<div id="item_description_popup" class="item-description-popup white-text"></div>