<div class="row card-panel blue-grey darken-1">
    <div class="col s2 center-align">
        <div id="icon" class="selection-icon"></div><br>
        <span id="label_time" class="white-text">00:00</span>
    </div>
    <div class="col s4 left-align">
        <h6><span id="label_header" class="white-text">Header:</span></h6><br>
        <span id="label_description" class="white-text">Description</span><br>
    </div>
    <div class="col s2 left-align">
        <h6><span class="white-text">Requirements:</span></h6><br>
        <div id="label_requirements" class="white-text"></div>
    </div>
    <div class="col s2 left-align">
        <h6><span class="white-text">Reward:</span></h6><br>
        <div id="label_reward" class="white-text"></div>
    </div>
    <div class="col s2 right-align">
        <button id="button_apply" class="btn">Apply</button>
        <button id="button_complete_job" class="btn s12">Complete</button><br><br>
        <button id="button_quit_job" class="btn s12 right-align">Quit</button>
    </div>
</div>