<div class="jobs-wrapper">
    <div class="row grey-text">
        <button id="button_configurator" class="btn purple s12 right">⇐ Back</button>
        <b><img src="./assets/icons/info.png" style="vertical-align: middle; padding-bottom: 4px;" />
            Here you can apply for a<span class="blue-text">Quick Job</span>to get some extra coin.<br>
            Some jobs may require skills that your Character doesn't have. Jobs that have already been taken will
            reappear after a while.
        </b>
    </div>
    <div class="row">
        <div id="jobs_list_container" class="jobs-list-container col s12"></div>
    </div>
</div>