<div class="row card-panel-transparent">
    <div class="col s3 center-align">
        <img id="icon_dungeon" style="width: 128px; border-radius: 5px;" />
        <div>
            <button id="button_enter" class="btn-small blue darken-2" style="display: inline; margin-top: 8px;">Enter</button>
        </div>
    </div>
    <div class="col s6 left-align">
        <h6><span id="label_header" class="white-text">Header:</span></h6><br>
        <span id="label_description" class="grey-text text-lighten-2">Description</span><br>
    </div>
    <div class="col s3 left-align" style="padding: 0; margin: 0;">
        <h6><span class="white-text">Requirements:</span></h6><br>
        <div id="label_requirements" class="white-text"></div>
    </div>
</div>