<div class="lobby-wrapper">
    <div class="row">
        <button id="button_unit" class="btn s12 right">Person</button>
    </div>
    <div class="row">
        <div class="col s2 center">
            <span id="unit_info" class="light-green lighten-1"></span><br>
            <div id="unit_icon" class="selection-icon"></div>
        </div>
        <div id="rooms_container" class="rooms-container col s10"></div>
    </div>
    <div class="row">
        <button id="button_create_room" class="btn-large s12">Create Room</button>
    </div>
</div>