<div class="lobby-wrapper">
    <div class="row">
        <span id="label_users_count" class="white-text left">Users Number: 0</span>
        <button id="button_configurator" class="btn s12 blue right">Person</button>
    </div>
    <div class="row">
        <div class="col s2 center">
            <span id="unit_info" class="light-green lighten-1"></span><br>
            <div id="unit_icon" class="selection-icon"></div>
        </div>
        <div id="rooms_container" class="rooms-container col s10"></div>
    </div>
    <div id="select_rooms_container" class="row">
        <div class="col s4 center-align">
            <img src="./assets/icons/dungeon_01.png" style="width: 128px;" /><br>
            <button id="button_create_room_easy" class="btn-small blue s12">Enter Easy Dungeon</button>
        </div>
        <div class="col s4 center-align">
            <img src="./assets/icons/dungeon_02.png" style="width: 128px;" /><br>
            <button id="button_create_room_advanced" class="btn-small red s12">Enter Advanced Dungeon</button>
        </div>
    </div>
</div>