<div class="row card-panel blue-grey darken-1">
    <div class="col s2 center-align">
        <button id="button_join_room" class="btn-large">Join</button>
        <button id="button_leave_room" class="btn-large">Leave</button>
        <br><br>
        <button id="button_start_game" class="btn-large">Start</button>
    </div>
    <div id="user_placeholder_1" class="col center s3">
        <span id="user_name_1" class="white-text">User1</span><br>
        <span id="user_level_1" class="white-text">Level 1</span><br>
        <div id="user_icon_1" class="selection-icon">
            <br><br><span id="connection_status_1" class="right">🟢</span>
        </div>
    </div>
    <div id="user_placeholder_2" class="col center s2">
        <span id="user_name_2" class="white-text">User2</span><br>
        <span id="user_level_2" class="white-text">Level 1</span><br>
        <div id="user_icon_2" class="selection-icon">
            <br><br><span id="connection_status_2" class="right">🟢</span>
        </div>
    </div>
    <div id="user_placeholder_3" class="col center s2">
        <span id="user_name_3" class="white-text">User3</span><br>
        <span id="user_level_3" class="white-text">Level 1</span><br>
        <div id="user_icon_3" class="selection-icon">
            <br><br><span id="connection_status_3" class="right">🟢</span>
        </div>
    </div>
    <div id="user_placeholder_4" class="col center s2">
        <span id="user_name_4" class="white-text">User4</span><br>
        <span id="user_level_4" class="white-text">Level 1</span><br>
        <div id="user_icon_4" class="selection-icon">
            <br><br><span id="connection_status_4" class="right">🟢</span>
        </div>
    </div>
</div>