<div class="row card-panel blue-grey darken-4" style="padding: 12px; padding-bottom: 0px;">
    <div class="col s3 center-align" style="margin-top: -8px;">
        <b>
            <div id="dungeon_label" style="padding-left: 12px;">Dungeon</div>
        </b>
        <img id="icon_room" style="width: 90px; border-radius: 5px; padding-left: 12px;" />
        <div class="row">
            <div class="col s6">
                <button id="button_join_room" class="btn-small blue"
                    style="padding: 15px; line-height: 0; max-height: 12px;">Join</button>
                <button id="button_leave_room" class="btn-small red"
                    style="padding: 15px; line-height: 0; max-height: 12px;">Leave</button>
            </div>
            <div class="col s6">
                <button id="button_start_game" class="btn-small blue"
                    style="padding: 15px; line-height: 0; max-height: 12px;">Start</button>
            </div>
        </div>
    </div>
    <div id="user_placeholder_1" class="col center s3">
        <span id="user_name_1" class="light-green lighten-1 single-line">User1</span><br>
        <span id="user_level_1" class="white-text single-line">Level 1</span><br>
        <div id="user_icon_1" class="selection-icon">
            <br><br><span id="connection_status_1" class="right"></span>
        </div>
    </div>
    <div id="user_placeholder_2" class="col center s2">
        <span id="user_name_2" class="light-blue lighten-1 single-line">User2</span><br>
        <span id="user_level_2" class="white-text single-line">Level 1</span><br>
        <div id="user_icon_2" class="selection-icon">
            <br><br><span id="connection_status_2" class="right"></span>
        </div>
    </div>
    <div id="user_placeholder_3" class="col center s2">
        <span id="user_name_3" class="light-blue lighten-1 single-line">User3</span><br>
        <span id="user_level_3" class="white-text single-line">Level 1</span><br>
        <div id="user_icon_3" class="selection-icon">
            <br><br><span id="connection_status_3" class="right"></span>
        </div>
    </div>
    <div id="user_placeholder_4" class="col center s2">
        <span id="user_name_4" class="light-blue lighten-1 single-line">User4</span><br>
        <span id="user_level_4" class="white-text single-line">Level 1</span><br>
        <div id="user_icon_4" class="selection-icon">
            <br><br><span id="connection_status_4" class="right"></span>
        </div>
    </div>
    <div id="hire_mercenary_placeholder" class="col center s2">
        <button id="button_hire_mercenary" class="btn-small purple"
            style="padding: 15px; line-height: 0; max-height: 12px;">Hire</button>
        <div id="mercenary_icon" class="selection-icon" style="margin-top: 14px;"> </div>
    </div>
</div>